@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap');


#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

body {
  background-color: #808080!important;
}

.text {
  border-radius: 20px !important;
  background-color: RGBA(0, 0, 0, 0.48);
  padding: 10px;
  color: #fff; 
  width: 80%;
  margin: 10px auto;
  box-shadow: 1px 1px 3px 2px #434242 !important;
}

.bdy {
  font-family: 'Raleway', sans-serif;
}

.btn {
  text-transform: capitalize;
  background-color: #434242;
  color: #fff;
  position: absolute;
  left: 10px;
  border-radius: 20px;
  padding: 10px;
  margin-bottom: 10px;
}