@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap');


#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

body {
  background-color: #808080!important;
}

#Rounds {
    list-style-type: none;
}

#Rounds li:hover{
  color: rgb(73, 73, 249);
}



.text{
  border-radius: 20px !important;
  padding: 10px;
  color: #fff; 
  /* background-color: #434242; */
  width: 80%;
  margin: 10px auto;
  box-shadow: 1px 1px 3px 2px #434242 ;

}



.changex{
  background-color: none;
}

.change-background{
  background-color: aqua;
}

.bdy {
  font-family: 'Raleway', sans-serif;

}

.btn {
  text-transform: capitalize;
  background-color: #434242;
  color: #fff;
  position: absolute;
  left: 10px;
  border-radius: 20px;
  padding: 10px;
  margin-bottom: 10px;
}
.Yrtwo :hover{
  color: blue;
}


.record
{
  border-end-start-radius: 120%;
  border-start-start-radius: 100%;
  border-start-end-radius: 80%;
  border-end-end-radius: 170%;
  background-color: #434242;
  color:#fff;
  height:110px;
}

@media screen and (min-width: 720px) {
  #p {
    font-size: 40px;
    text-transform: capitalize;
  }

  .record{
    width: 70%;
    margin: 0 auto;
  }

  .startbtn {
    background-color: #434242;
    padding: 15px;
    border-end-start-radius: 500%;
    border-start-start-radius: 100%;
    border-start-end-radius: 500%;
    border-end-end-radius: 170%;
    width: 60%;
    height: 150px;
    color: #fff;
    text-transform: capitalize;
  }

  .Rounds_main{
    position: absolute;
    top: 450px;
    font-size: larger;
    width: 100%;
  }
  
}

@media screen and (max-width: 600px) {
  .startbtn {
    background-color: #434242;
    padding: 30px;
    border-end-start-radius: 500%;
    border-start-start-radius: 100%;
    border-start-end-radius: 500%;
    border-end-end-radius: 170%;
    width: 70%;
    margin-top: 50px;
    color: #fff;
    text-transform: capitalize;
  
  }

  #p {
    font-size: 25px;
    text-transform: capitalize;
  }
}